*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color: #fff;
}

ul, ol{
    list-style: none;
}
html {
    height: 100vh;
    width: 100vw;
}

body{
    background: url(../Img/imagem-de-fundo.png);
    width: 100vw;
    max-width: 100px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

header{
    /*background-color: aqua;*/
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.links-container{
    height: 36px;
    /*background-color: grey;*/
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 30rem;
}
.links-container a{
    text-shadow: 4px 4px 4px red;
    padding: 8px 5px;
    transition: all 1s;
}
.links-container a:hover{
    /*color: lightslategrey;*/
    color: var(--accent-color);
}

.logo{
    margin-left: 5rem;
}

.imagens{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-left: 60rem;
    gap: 20px;
    justify-content: space-evenly;
}

.grupo1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
}

.grupo2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
}

.img1{
    height: 15rem;
    width: 20rem;
}

.img2{
    height: 15rem;
    width: 20rem;
}

.img3{
    height: 15rem;
    width: 20rem;
}

.img4{
    height: 15rem;
    width: 20rem;
}

@media (max-width: 768px){
    header{
        height: 70px;
    }
    .links-container{
        background-color: #000;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        gap: 65px;
        transition: all 1s;
        transform: translate(100%);
        transition: all 1s;

    }
    .menu-burger-container.show ~ .links-container{
        transform: translate(0);
    }
}