*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color: #fff;
}

ul, ol{
    list-style: none;
}

:root{
    --accent-color: #FF031A
}

body{
    height: 100vh;
    width: 100vw;
    background: url(../Img/background.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}

header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.links-container{
    height: 36px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.links-container a{
    text-shadow: 4px 4px 4px #000;
    padding: 8px 5px;
    transition: all 1s;
}
.links-container a:hover{
    color: var(--accent-color);
}

main{
    font-family: 'Mulish', sans-serif;
}

.personagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    text-align: center;
}

.imgDoctor,
.imgWanda,
.imgWong {
    width: 20vw;
    height: 70vh;
    border-radius: 2rem;
}

h3{
    color: #fff;
    font-size: 1em;
}

@media (max-width: 768px){
    header{
        height: 70px;
    }
    .links-container{
        background-color: #000;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        gap: 65px;
        transition: all 1s;
        transform: translate(100%);
        transition: all 1s;

    }
    .menu-burger-container.show ~ .links-container{
        transform: translate(0);
    }
    .personagens{
        gap: 20px;
    }
    .imgDoctor,
    .imgWanda,
    .imgWong {
        width: 24vw;
        height: 70vh;
        border-radius: 50%;
    }
}