*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color: #fff;
}

ul, ol{
    list-style: none;
}

header{
    /*background-color: aqua;*/
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.links-container{
    height: 36px;
    /*background-color: grey;*/
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.links-container a{
    text-shadow: 4px 4px 4px #000;
    padding: 8px 5px;
    transition: all 1s;
}
.links-container a:hover{
    /*color: lightslategrey;*/
    color: var(--accent-color);
}

body{
    height: 100vh;
    background: url(../Img/background.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}